
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<!--HTTP call using POST method-->
<form submit="/Add" method="post">
    <input name="FirstName" />
    <input name="LastName" />
    <button type="submit">Add Student</button>
</form>