@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ACME Pet Adoption</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to ACME Pet Adoption</h2>
        <p>
            ACME Pet Adoption is an organization aiming to help
            abandoned animals find good homes.
        </p>
    </div>
</div>