@using CarInsuranceMVCExercise.ViewModels
@model ApplicantVm

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h3 class="m-0">Your Auto Insurance quote is: $@Model.Quote</h3>
        </div>
    </div>
</div>